@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com");

@theme {
  --color-background: #181818;
  --color-card: #212121;
  --color-text-white: #ffffff;
  --color-secondary-gray: #5e5e5e;
  --color-secondary: #aaaaaa;
  --color-accent: #ff0000;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
