@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com");

@theme {
  --color-background: #181818;
  --color-card: #212121;
  --color-text-white: #ffffff;
  --color-secondary: #aaaaaa;
  --color-accent: #ff0000;
}
